@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

:root {

    --greyish: rgb(215, 215, 215);

}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;

    box-sizing: border-box;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

.header-container {
    background-color: #28a745;
}

#header-title {
    color: white;
    margin-bottom: .25em;
}

.search-input {
    padding: .75em;
    border-radius: 5px;
    border: 1px solid var(--greyish);
}

.search-input:focus,
.search-input:hover {
    border: 1px solid #67b0ff;
    outline: none;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.card-body {
    border: 1px solid var(--greyish);
    border-radius: 4px;
    margin: 1em;
    padding: 1em;
}

#addForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#submit {
    width: fit-content;
    padding: .75em 1em;
    border: none;
    border-radius: 5px;
    background-color: #343a40;
    color: white;
}

.title {
    margin: .75em 0 .25em 0;
}

#item {
    border: 1px solid var(--greyish);
    border-radius: 5px;
    padding: .75em;
}

#item:focus,
#item:hover {
    border: 1px solid #67b0ff;
    outline: none;
}

#items {
    border: 1px solid var(--greyish);
    border-radius: 5px;
}

#items>* {
    padding: 1em;
    border: .5px solid var(--greyish);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.red-btn {
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: .5em .75em;
}